header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

.navbar-header {
    background-color: #0c0c0c; 
    color: #ffffff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif; 
  }
  
  @keyframes transitionBackground {
    0% { background-color: #0c0c0c; }
    50% { background-color: #090344; }
    100% { background-color: #090324; }
  }
  
  .navbar-header {
    animation: transitionBackground 3s infinite;
  }
  